
<h1>Dinobags</h1>
<form action="/auth/hack_club" method="post" data-turbo="false">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit">log in with hack club?</button>
</form>
